/* Base */
@import 'bourbon/bourbon';



/* Mixins */
@mixin category-cyrcles($width, $height) {
  & content a {
    border: 1px solid;
    font-size: $width/2 + px;
    border-radius: 50%;
    line-height: ($width/2)+60 + px;
    width: $width+px;
    height: $height+px;
    display: inline-block;
    text-align: center;
    margin: 0 80px 80px 0;
    background: rgba(255, 255, 255, .1);
    @include transition(all .5s ease);
    &:hover {
      color: $color-yellow;
      @include transform(rotate(360deg));
    }
    & span {
      font-size: 20px;
      display: block;
      line-height: 0;
    }
  }
}

@mixin posts-strip() {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  box-shadow: 0px 0px 20px #222;
  background: rgba(255, 255, 255, .15);
  display: block;
  width: 100%;
  position: relative;
  font-size: 20px;
  color: $color-blue;
  & date {
    right: 0;
    font-size: 12px;
    color: $font-color;
    top: 0;
    border-bottom: 1px solid #777;
    position: absolute;
    border-left: 1px solid #777;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px 0px 0px 10px;
  }
  & i {
    color: $color-yellow;
  }
  & span {
    width: 85%;
    display: inline-block;
    text-transform: capitalize;
  }
  &:hover {
    box-shadow: 0px 0px 20px #555;
    color: $color-yellow;
    @include transform(scale(1.03,1.03));
  }
}

/* Fonts */
@import url(//fonts.googleapis.com/css?family=Exo:300,400,700,900);

@font-face {
  font-family: 'spin_cycle';
  src: url('../fonts/spincycle_ot-webfont.eot');
  src: url('../fonts/spincycle_ot-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/spincycle_ot-webfont.woff') format('woff'), url('../fonts/spincycle_ot-webfont.ttf') format('truetype'), url('../fonts/spincycle_ot-webfont.svg#spin_cycle_otregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Palette */

$color-red: #cc333f;
$color-purple: #392443;
$color-yellow: #F5DA81;
$color-blue: #00a0b0;
$font-color: #fff;

/* Vars */

$side-padding-width: 120;

/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  @include transition(all 0.3s ease-in);
}

html, body {
  height: 100%;
}

body {
  font-family: 'Exo', 'Trebuchet MS', Helvetica, Arial;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: $font-color;
  background-color: $color-purple;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

:hover {
  @include transition(all 0.3s ease-in);
}

a {
  color: $color-blue;
  text-decoration: none;
  outline: none;
  &:hover {
    color: $color-red;
    text-decoration: none;
  }
}

/* Utility */

.wrap:before,
.wrap:after {
  content: "";
  display: table;
}

.wrap:after {
  clear: both;
}

.wrap {
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

header:before {
  padding: 30px 0px 0px 0px;
}

/* Site header */

header {
  display: block;
  max-width: 1024px;
}

logo {
  width: $side-padding-width+px;
  height: ($side-padding-width - 20)+px;
  background: $color-red;
  color: $font-color;
  display: inline-block;
  float: left;
  font: 67px 'spin_cycle';
  letter-spacing: -8px;
  text-align: center;
  vertical-align: middle;
  line-height: 117px;
  box-shadow: 3px 0px 30px #111;
  & a {
    color: $font-color;
    &:hover {
      color: $font-color;
      text-shadow: 0px 0px 20px $font-color;
    }
  }
}

.sa-bg {
  font: 567px 'spin_cycle';
  letter-spacing: -60px;
  opacity: .1;
  z-index: -1;
  position: fixed;
  top: -50px;
  right: 0;
  @include transform(rotate(-40deg));
}

nav {
  width: auto;
  height: ($side-padding-width - 20)+px;
  background: #fff;
  margin: 0px 0px 0px 1px;
  color: $color-red;
  display: inline-block;
  float: left;
  box-shadow: 3px -4px 10px #222;
  & ul {
    list-style-type: none;
    & li {
      display: inline-block;
      &:hover ul.sub-menu {
        display: block;
      }
      & ul.sub-menu {
        display: none;
        background: #fff;
        float: left;
        position: absolute;
        & li {
          position: relative;
          border-right: 1px dotted $color-purple;
          margin: 10px 0;
          &:last-child {
            border: none;
          }
          & a {
            line-height: ($side-padding-width / 3 )+px;
            color: $color-blue;
            margin: 32px;
            font-size: 100%;
          }
        }
      }
      & > a {
        line-height: ($side-padding-width - 20 )+px;
        color: $color-blue;
        margin: 32px;
        font-size: 150%;
      }
    }
  }
}

utility {
  margin: 1px 0px 0px ($side-padding-width + 1)+px;
  background: $color-yellow;
  color: $color-red;
  padding: 20px;
  display: inline-block;
  width: calc(100% - 161px);
  box-shadow: -3px 6px 10px #222;
  & a, b {
    color: $color-purple;
  }
  & img {
    float: left;
  }
  & p {
    display: block;
    padding: 0px 0px 0px 20px;
    float: left;
    font-size: 20px;
    line-height: 59px;
    color: $color-purple;
    font-weight: 100;
  }
}

.post-header h1 {
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #555;
}

content {
  margin: 1px 0px 0px ($side-padding-width + 1)+px;
  background: transparent;
  padding: 20px 0;
  color: $font-color;
  display: inline-block;
  width: calc(1024px - 161px);
  min-height: calc(100% - 237px);
  margin-bottom: -70px;
  font: 100 16px/24px 'Exo', 'Open sans', sans-serif;
  & .button {
    background: $color-yellow;
    color: $color-purple;
    padding: 5px;
    font-family: 'Exo', 'Trebuchet MS', Helvetica, Arial;
    border: 1px solid $color-purple;
    &:hover {
      background: transparent;
      color: $color-yellow;
      border: 1px solid $color-yellow;
    }
  }
  &:after {
    content: "";
    display: block;
    height: 70px;
  }
  & h1, & h2, & h3 {
    font-family: 'Exo', 'Trebuchet MS', Helvetica, Arial;
    color: $color-yellow;
    text-transform: capitalize;
    padding: 20px 0px;
  }
  & h1 {
    font-size: 170%;
  }
  & h2 {
    font-size: 150%;
  }
  & h3, & h4, & h5, & h6 {
    font-size: 130%;
  }
  & blockquote {
    padding: 20px 0px 20px 80px;
    position: relative;
    font-style: italic;
    &:after {
      content: "";
    }
    &:before {
      content: "\201c";
      position: absolute;
      left: 0px;
      font: 100px italic impact;
      padding: 0;
      margin: 0;
      opacity: .2;
      line-height: 83px;
    }
  }
  & p, & ul {
    padding: 0px 0px 16px 0px;
    font-family: "trebuchet ms", Helvetica, Arial, Helvetica, sans-serif;
  }
  & img {
    float: left;
    margin: 0px 30px 20px 0;
    box-shadow: -3px 6px 10px #222;
  }
  & ul {
    list-style-position: inside;
    list-style-type: square;
  }
  & p.meta {
    text-align: right;
    text-transform: uppercase;
    display: block;
  }
}

aside {
  position: fixed;
  left: 40px;
  bottom: 26px;
  width: 35px;
  background: transparent;
  & a {
    color: #887c8e;
    font-size: 40px;
    text-decoration: none;
    text-shadow: 0px 0px 5px #000;
    & i:hover {
      @include transform(scale(0.8, 0.8));
    }
    &:hover {
      color: lighten(#887c8e, 20);
      text-shadow: 0px 0px 20px #000;
    }
    &:last-child {
      background: $color-red;
      display: block;
      text-align: center;
      width: 45px;
      height: 45px;
      color: $font-color;
      line-height: 44px;
      left: -5px;
      position: relative;
    }
  }
}

/* Site footer */

footer {
  margin: 1px 0px 0px ($side-padding-width + 1)+px;
  background: $color-yellow;
  padding: 20px;
  display: inline-block;
  letter-spacing: 0;;
  box-shadow: 0px 0px 20px #000;
  color: $color-purple;
  width: calc(100% - 161px);
  height: 30px;
  & a {
    color: $color-purple;
  }
}

sa {
  font-family: 'spin_cycle';
  font-size: 30px;
  letter-spacing: -3px;
  font-weight: 100;
  & span {
    color: $color-blue;
  }
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page--projects {
  @include category-cyrcles(200, 200);
}

/* Home styles */
.page--home {
  & utility {
    padding: 0 40px 0 0px;
  }
  @include category-cyrcles(200, 200);
}

#instantclick {
  display: none;
}

/* ----------------------------------------------------------*/

/* Post styles */
/* ----------------------------------------------------------*/

article a.post-list-item {
  @include posts-strip;
}

.layout-item {
  & content {
    & .buttons {
      text-align: right;
    }
    & img {
      floyat: left;
      margin: 0px 30px 20px 0;
      box-shadow: -3px 6px 10px #222;
    }
  }
}

code {
  white-space: pre;
}

.hljs {
  display: inline;
  background: transparent !important;
  &:hover {
    background: #23241f !important;
  }
}

.center {
  text-align: center;
}

/* media queries */
/* ----------------------------------------------------------*/
@media screen and (max-width: 750px) {

}

@media screen and (max-width: 600px) {
  body, html {
    height: auto;
    overflow: hidden;
    width: 100%;
  }

  utility {
    margin: 1px 0 0 0px;
    width: 90%;
  }
aside {
  display: none;
}
  nav ul li>a {
    line-height: 100px;
    color: #000;
    margin: 0px 15px 0px 35px;
    font-size: 2rem;
  }

  content {
    margin: 1px 0 -70px 20px;
    width: 90%;
    & h1 {
      line-height: 35px;
    }
  }

  .page--home content a,
  .page--projects content a{
    line-height: 250px;
    width: 300px;
    height: 300px;
    margin: 0 80px 80px 0;
  }
  .page--home content a span {
    font-size: 2rem;
  }

}
