    {% if page.path contains "_"%}
        {% assign file_path_on_gh = page.path | split: "_" %}
        {% assign underscore = "_" %}
        {% assign file_to_edit = file_path_on_gh[1] %}
    {% else %}
        {% assign underscore = "" %}
        {% assign file_to_edit = page.path %}
    {% endif %}
<aside>
    <a class="hint--right  hint--success  hint--rounded" data-hint="Contribute by editing/adding to this page on GitHub" target="_blank" href="https://github.com/sanusart/sanusart.com/edit/master/src/{{ underscore }}{{ file_to_edit }}"><i class="fa fa-pencil-square-o"></i></a>
    <a class="hint--right  hint--success  hint--rounded" data-hint="GitHub page" target="_blank" href="https://github.com/sanusart"><i class="fa fa-github"></i></a>
    <a class="hint--right  hint--success  hint--rounded" data-hint="Follow @sanusart on Twitter" target="_blank" href="https://twitter.com/intent/follow?original_referer=https://sanusart.com&screen_name=sanusart&tw_p=followbutton"><i class="fa fa-twitter"></i></a>
    <a class="hint--right  hint--success  hint--rounded" data-hint="Facebook page" target="_blank" href="https://facebook.com/sanusart"><i class="fa fa-facebook-square"></i></a>
    <a class="hint--right  hint--success  hint--rounded" data-hint="G+" target="_blank" href="https://plus.google.com/111862979601357461785"><i class="fa fa-google-plus-square"></i></a>
    <a class="hint--right  hint--success  hint--rounded" data-hint="LinkedIn" target="_blank" href="https://www.linkedin.com/in/sanusart"><i class="fa fa-linkedin-square"></i></a>
    <a class="hint--right  hint--success  hint--rounded" data-hint="RSS" target="_blank" href="{{site.baseurl}}/feed.xml"><i class="fa fa-rss"></i></a>
    <a class="hint--right  hint--success  hint--rounded totop" data-hint="To the top ^" href="#sanusart"><i class="fa fa-angle-up"></i></a>
</aside>