_site
src/assets
.idea
node_modules
src/fonts/*
!src/fonts/spincycle*
src/downloads/*
src/css/*.css
src/js/scripts.js
!src/downloads/.gitkeep
.sass-cache
jekyll-export
src/music/*
!src/music/.gitkeep
Gemfile.lock
src/downloads/*
!src/downloads/.gitkeep
src/css/bourbon
