_site
assets
.idea
node_modules
fonts/FontAwesome.otf
fonts/fontawesome-webfont.eot
fonts/fontawesome-webfont.svg
fonts/fontawesome-webfont.ttf
fonts/fontawesome-webfont.woff
downloads/*
!downloads/.gitkeep
.sass-cache
jekyll-export
music/*
!music/.gitkeep
Gemfile.lock
