<header class="wrap">
    <logo><a href="{{ site.url }}">sa</a></logo>

    {% include nav.html %}

</header>

<utility>

    {% if page.url == '/' %}

        <img src="http://1.gravatar.com/avatar/7ddad1a9a1c8de452badaf82b6c30c76?s=60&d=&r=G">
        <p>Sasha is web developer</p>

    {% else %}

        <a href="{{ site.url }}">Home</a> <i class="fa fa-angle-right"></i>

        {% if page.category != 'none' %}
            <a href="{{ page.category_url }}">{{ page.category }}</a> <i class="fa fa-angle-right"></i>
        {% endif %}

        <b>{% if page.page_name %}{{ page.page_name }}{% else %}{{ page.title }}{% endif %}</b>

    {% endif %}

</utility>
