<header class="wrap">
    <logo><a href="{{ site.baseurl }}">sa</a></logo>

    {% include nav.html %}

</header>

<utility>

    {% if page.url == '/' %}

        <a target="_blank" href="https://plus.google.com/111862979601357461785" rel="publisher">
            <img src="http://1.gravatar.com/avatar/7ddad1a9a1c8de452badaf82b6c30c76?s=60&d=&r=G">
        </a>
        <p>Sasha is web developer</p>

    {% else %}

        <a href="{{ site.baseurl }}">Home</a> <i class="fa fa-angle-right"></i>

    {% for cat in page.category %}
        {% if cat.name != 'none' %}
            <a href="{{ cat.url }}">{{ cat.name }}</a> <i class="fa fa-angle-right"></i>
        {% endif %}
    {% endfor %}

        <b>{% if page.page_name %}{{ page.page_name }}{% else %}{{ page.title }}{% endif %}</b>

    {% endif %}
</utility>
