<!doctype html>
<html lang="en-US">

{% include head.html %}

{% if page.url == '/' %}
    {% assign class = 'home' %}
{% elsif page.collection %}
    {% assign class = page.collection %}
    {% assign class2 = ' type--collection' %}
{% elsif page.page_name %}
    {% assign class = page.page_name %}
    {% assign class2 = ' type--page' %}
{% else %}
    {% assign class = 'page-default' %}
{% endif %}

{% assign class3 = page.layout %}

<body id="sanusart" class="page--{{class}}{{class2}} layout-{{class3}} title--{{page.title | replace: ' ':'-' | replace: '&amp;':'-' | replace: '.':'-' | replace: '?':'-' | replace: '!':'-' | replace: ',':'-' | downcase }}">

<sanusart role="main">

    {% include header.html %}

    <content class="wrap main">
    {% if page.url == '/' %}
        {% include home.html %}
    {% else %}
        {{ content }}
    {% endif %}
    </content>

    {% include side.html %}

    {% include footer.html %}

    <div class="sa-bg">sa</div>

</sanusart>

{% include bottom.html %}

</body>
</html>