<!doctype html>
<html lang="en-US">

{% include head.html %}

<body class="page{% if page.url == '/' %}--home{% else %}--page-{{page.page_name}}{% endif %}">
<sanusart role="main">

    {% include header.html %}

    <content class="wrap">
    {% if page.url == '/' %}
        {% include home.html %}
    {% else %}
        {{ content }}
    {% endif %}
    </content>

    {% include side.html %}

    {% include footer.html %}

    <div class="sa-bg">sa</div>

</sanusart>

{% include bottom.html %}

</body>
</html>